
.calendar-container {
    margin: 0 auto;
    font-family: Arial, sans-serif;
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border:1px solid black;
}


.calendarday {
    text-align: center;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #110202;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dot-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    position: relative;
    bottom: 5px;
    left: 0;
}


#font
{
font-family:Rubik;
}


.calendarday:hover {
    background-color: #1b1fef;
    color:#FFFFFF;
}


.past-day {
    color: #aaa;
    background-color: #f9f9f9;
    cursor: not-allowed;
}
.calendar-container{
max-width:1500px;
margin-left:130px;
border:2px solid rgb(16, 15, 15);
}
.bookingdate{
display:flex;
justify-content:space-between;
align-items:center;
margin-top:20px;
}
#time
{
margin-right:50px;
border-radius:5px;
background-color: #f8f3f327;
border:2px solid black;
width:500px;
height:300px;
}
#fi
{
    color: #111010;
}
#timings:hover
{
    background-color: #3e70f7;
    color: #fdfbfb;
}
#timings{
            padding:20px;
            border:2px solid rgb(19, 17, 17);
            text-align: center;
            cursor:pointer;
            border-radius: 5px;
            color: #150e0e;
           }
p{
            margin-right:25px;
            margin-left:25px;
           }
     
img#hover
{
box-shadow:0px 3px 5px rgba(0,0,0,0.6);
}
.navlinks a{
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  nav {
    background-color: rgb(9, 9, 9);
    position: absolute;
    left: 0px;
    right: 0px;
    top:0px;
    height:100px;
    width:1520px;
  }
  .main-nav {
    justify-content: space-between;
    position:relative;
    left: 0px;
    right: 0px;
    height: 60px;
    padding-top: 10px;
  }
  .flex {
    display: flex;
    align-items: center;
  }
  
  .company-logo {
    width: 100px;
    height:90px;
    margin-top: 20px;
  }
  
  .navlinks {
    z-index: 4;
  }
  .navlinks ul {
    justify-content: end;
    gap: 70px;
    margin-right: 40px;
    list-style: none;
    position: relative;
  }
  
  .navlink-options ul {
    list-style: none;
  }
  .hover-links {
    color: white;
  }
  .nav-toggle {
    display: none;
  } 
  .image {
    position: absolute;
    width:1532px;
    height: 200px; 
    background-image: url("/refund.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden; 
    margin-left:-20px;
    top: 100px;
  }
   h2{
    font-size: 50px;
    text-align: center;
    color: #ffffff;
    font-family:Rubik;
    margin-top: 70px;
  }
  h1
  {
     text-align: center;
      color:rgb(246, 235, 235);
      margin-top:20px;
      margin-bottom: 40px ;
  }
  #pages
  {   
      width: 1200px;
      margin-left: 150px;
      margin-bottom: 40px;
      background-color: white;
      display:flex;
      gap:50px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  #pages a 
  {
      text-decoration:none;
      color:black;
      opacity:0.6;
  }
  #pages img 
  {
      width:30px;
      height:30px;
      vertical-align:middle;
  }
  #pages 
  {
       border:1px solid rgba(198, 196, 196, 0.777); 
      border-radius: 5px;
  }
  #g,#h,#i,#j
  {
      width: 20px;
      height: 20px;
      padding-top:20px;
      padding-right:10px;
      padding-left:20px;
      padding-bottom:20px;
  }
  #r,#s,#t,#q a
  {
      font-weight:700;
  }
  #q,#r,#s,#t
  {
      margin-top: 5px;
  }
  #hu
  {
      background-color: rgb(7, 7, 7);
      position: absolute;
      left:0px;
      right:0px;
      width:1520px;
      top: 300px;
  }
#pages a:hover
{
color:red;
}
input[type=button]
{
background-color:black;
}
#submit1
{
margin-left:45px;
margin-top:40px;
margin-bottom:10px;
display:flex;
}
#alldt
{
border:2px solid rgb(15, 14, 14);
width:1200px;
margin-left:150px;
background-color: #f9f9f9;
border-radius: 10px;
margin-top: 0px;
}
button
{
background-color:rgb(19, 18, 18);
color:white;
border-radius:10px;
}
#submit1 button 
{
    height:45px;
    width:100px;
}
#submit1 a
{
    color:white;
    text-decoration:none;
    font-size:17px;
}
h3{
   margin-left:650px;
    color: #FFFFFF;
    font-size: xx-large;
    margin-top: 2px;
    margin-bottom:8px;
}
::placeholder
{
    color:#000000;
    letter-spacing: 0.05cm;
}
#bi
{
    margin-right: 900px;
}
#input
{
    margin-left:130;
    border-radius:4px;
    margin-top:30px;
    border:1.7px solid black;
}
footer {
  background-color: #050505fb;
  padding-block: 60px;
  top:1500px;
  height:600px;
  left:0px;
  right:0px;
  bottom:0px;
  position: absolute;
  font-family: Rubik;
}
.footer-container a{
text-decoration: none;
display: inline-block;
}
.container {
position: absolute;
width: 1285px;
margin-inline: auto;
padding: 20px;
overflow: hidden;
margin-left: 50px;

}

.footer-container {
display: flex;
align-items: center;
}
.footer-container {
align-items: flex-start;
gap: 130px;
}

.company-logo img {
width: 120px;
height:110px;
margin-bottom:20px;
}

.footer-companylog img{
margin-left: -15px;
}
.footer-para {
color: rgb(252, 247, 247);
margin-top: 30px;
margin-left: 0px;
}
.socialicons {
margin-top: 40px;
display: flex;
gap: 10px;
}
.link-column3
{
  
  flex-direction: column;
align-items: flex-start;
margin-top: 100px;

}
.link-column {
flex-direction: column;
align-items: flex-start;
margin-top: 40px;
}

.link-column2 {
min-width: 180px;
}
.footer-heading {
color: white;
}

.foot-links {
margin-left: 20px;
margin-top: 0px;
}
.link {
color: white;
margin-top: 20px;
}
#ui
{
  margin-top: 20px;
}
.fas {
margin-top: 15px;
}

.location{
margin-top: -70px;
padding-right: 20px;
}

.hr-footer{
margin-top: 50px;
margin-bottom: -50px;
}

.sub-footer-collective {
display: flex;
gap: 470px;
}
.sub-footer-collective p
{
margin-top:13px;
}
.sub-footer {
color: white;
margin-top: 50px;
}

.copyright {
font-size: medium;
}
.contact
{
margin-top: 20px;
}
#contact-img{
width: 40px;
height: 40px;
position: fixed;
top:660px;
margin-left: 1400px;
scroll-behavior: auto;
background-color: #2828f5;
border-radius: 5px;
}
.hr-footer
{
margin-top: 550px;
}
.sub-footer-collective
{
margin-left: 40px;
} 

  .Services {
    margin-left: 0px;
      margin-top: 1280px;
    
      color:#000000;
    }
    .brands h1
    {
      color:#000000;
    }
     .scroll
    {
      margin-left: 35px;
      font-size: 30px;
      padding: 20px;
      margin-right: 40px;
    } 
    .scroll1
    {
      font-size: 30px;
      padding: 20px;
      margin-right: 10px; 
      margin-left: 5px;
    }
    .flex {
      display: flex;
      align-items: center;
    }
    .logo{
      height: 100px;
      margin-right: 30px;
      margin-top: 0px;
    }
    .logos {
      flex-wrap: wrap;
    }
/********************************************************************************************************************************/


@media (min-width:769px) and (max-width:1024px)
{
  .image
  {
    width:2052px;
    margin-top: 47px;
  }
  .sub-footer-collective 
  {
   margin-top: 2048px;
   background-color: #000000;
   width: 2000px;
   margin-left: 0px;
   height:180px;
 }
 .sub-footer-collective p 
 {
  font-size:28px;
  margin-top: 50px;
  font-weight: bold;
  margin-bottom: 10px;
 }
 .sub-footer
 {
   margin-top: 0px;
   margin-left:100px ;
   height: 40px;
 }
 .sub-footer1
 {
   margin-top: 0px;
   margin-left:40px ;
 } 
 .socialicons
 {
   margin-top: 20px;
   margin-left: 30px;
   margin-bottom: 60px;
 }
 .hr-footer{
   margin-top: 1050px;
   border:2px solid black;
   color:#fdfcfc;
 }
 nav
 {
   width: 2040px;
   height: 150px;
 }
 .main-nav img
 {
   width: 280px;
   height:250px;
   margin-top: 80px;
 }
    #pages img
    {
      width: 60px;
      height:60px;
    }
     #pages
     {
       width: 1630px;
       margin-left:230px;
       height:110px;
       font-size: xx-large;
       margin-bottom: 0px;
       border: 1px solid rgb(15, 14, 14);
       margin-top: 5px;
     }
     h1
    {
       margin-left:200px;
       margin-top:40px;
       width:1100px;
       font-size: 58px;
       margin-bottom: 20px;
    }
    h2
    {
        margin-left: 550px;
        width:960px;
        margin-top: 50px;
      
        font-size: 58px;
    }
    #submit1 button
    {
      width:150px;
      height: 70px;
    }
    h3
    {
      margin-left: 900px;
      margin-top: 70px;
    }
    #submit1 a 
    {
      font-size: xx-large;
    }
    #alldt
    {
        margin-left:220px;   
        width: 1630px;
        margin-right: 45px;
        margin-bottom: 10px;
        height: 800px;
    }
    #hu
    {
      width:2040px;
      font-family: rubik;
      font-size: xx-large;
    }
    .calendar-container
    {
        margin-left:60px;
        margin-right: 60px;
        width:600px;
        height: 400px;
    }
    #time
    {
        margin-right:60px;
        width:780px;
        height:450px;
        font-size: xx-large;
    }
   
    .brands h1
    {
      width:700px;
    }
    .calendarday
    {
      font-size: xx-large;
    }
    #bi
    {
        margin-right:1210px;
    }
    #submit1
    {
        margin-left: 60px;
    }
    #input
    {
        margin-left: 60px;
        width: 620px;
        height: 50px;
        font-size: xx-large;
    }
    .bookingdate button 
    {
      width:50px;
      height: 50px;
    }
    footer
{
  width:0px;
height:0px;
}
.footer-container
{
  margin-top:2200px;
  background-color: #090909;
  font-size: 25px;
  width: 2000px;
  margin-left:0px;
 height:800px;
 flex-direction: row;
}

.footer-container ul 
{
  margin-left: 30px;
}
.logo {
  height: 300px;
  width:400px;
}

.scroll,.scroll1 {
  font-size: 10px;
  padding: 10px;
  color: #ffffff;
}

.logos {
  flex-wrap: wrap;
margin-left: 90px;
margin-top: 0px;
padding-top: 0px;
}
.container1 {
  max-width: 1490px;
  margin-inline: auto;
  padding: 20px;
  overflow: hidden;
}
.brands
{
  
  width:690px;
  margin-top: 600px;
  margin-left: 680px;
}
.Services {
  text-align: center;
  margin-top: 1420px;
font-size: 78px;
margin-left: 0px;
width:200px;
margin-bottom: 0px;
}
h4
{
  margin-bottom: 20px;
}
.location
{
  margin-top: -110px;
  margin-bottom: 40px;
}
.footer-left img
{
  width:380px;
  height:410px;
  margin-left: 5px;
  margin-top: 0px;
}
#contact-img
{
  margin-top: 620px;
  width:100px;
  height:100px;
  margin-left: 1890px;
}
.footer-para
{
  margin-top:250px;
  height: 250px;
  width:550px;
  margin-left: 30px;
  font-size: larger;
  font-weight: bold;
}
.link-column
{
  height:400px;
  width:250px;
  margin-left: 0px;
  font-size: larger;
  font-weight: bold;
}
.link-column2
{
  height: 570px;
  width:1180px;
  margin-left: 0px;
  font-size: larger;
  font-weight: bold;
}
.footer-det
{
  height: 570px;
  width:1500px;
  margin-left: 0px;
  font-size: larger;
  font-weight: bold;
}
.footer-det a
{
  margin-left: 15px;
}
.link-column li
{
  padding-bottom: 10px;
  padding-top: 10px;
}

.navlinks
{
  margin-top: 50px;
  font-size: x-large;
}
.contact-1
{
  font-size:28px;
  font-weight: bold;
}
}


/********************************************************************************************************************************/

/********************************************************************************************************************************/



@media (min-width:120px) and (max-width:990px) {
  .header-companylog{
    width: 100px;
  }
  }
  
  
  @media screen and (max-width: 426px) {
    .nav-toggle{
        display: inline-block;
        margin-right: 20px;
        width:100px;
        height: 60px;
        margin-top: 90px;
    }
   
    
     .navlinks{
        position: absolute;
        background-color: rgb(0, 0, 0);
        left: -110%;
        top: 100%;
        width: 100%;
        padding-block: 20px;
        transition: 0.4s ease-in-out;
       
    }
    
  
    .navlinks.active{
        left: 0;
      
    }
  
    .navlinks ul {
        flex-direction: column;
       
    }
  
    
  } 
  /********************************************************************************************************************************/
  
  

@media (min-width:426px) and (max-width:768px)
{ 
  .image
  {
    width:2052px;
    margin-top: 47px;
  }
  .sub-footer-collective 
  {
   margin-top: 2048px;
   background-color: #000000;
   width: 2000px;
   margin-left: 0px;
   height:180px;
 }
 .sub-footer-collective p 
 {
  font-size:28px;
  margin-top: 50px;
  font-weight: bold;
  margin-bottom: 10px;
 }
 .sub-footer
 {
   margin-top: 0px;
   margin-left:100px ;
   height: 40px;
 }
 .sub-footer1
 {
   margin-top: 0px;
   margin-left:40px ;
 } 
 .socialicons
 {
   margin-top: 20px;
   margin-left: 30px;
   margin-bottom: 60px;
 }
 .hr-footer{
   margin-top: 1050px;
   border:2px solid black;
   color:#fdfcfc;
 }
 nav
 {
   width: 2040px;
   height: 150px;
 }
 .main-nav img
 {
   width: 280px;
   height:250px;
   margin-top: 80px;
 }
    #pages img
    {
      width: 60px;
      height:60px;
    }
     #pages
     {
       width: 1630px;
       margin-left:230px;
       height:110px;
       font-size: xx-large;
       margin-bottom: 0px;
       border: 1px solid rgb(15, 14, 14);
       margin-top: 5px;
     }
     h1
    {
       margin-left:200px;
       margin-top:40px;
       width:1100px;
       font-size: 58px;
       margin-bottom: 20px;
    }
    h2
    {
        margin-left: 550px;
        width:960px;
        margin-top: 50px;
      
        font-size: 58px;
    }
    #submit1 button
    {
      width:150px;
      height: 70px;
    }
    h3
    {
      margin-left: 900px;
      margin-top: 70px;
    }
    #submit1 a 
    {
      font-size: xx-large;
    }
    #alldt
    {
        margin-left:220px;   
        width: 1630px;
        margin-right: 45px;
        margin-bottom: 10px;
        height: 800px;
    }
    #hu
    {
      width:2040px;
      font-family: rubik;
      font-size: xx-large;
    }
    .calendar-container
    {
        margin-left:60px;
        margin-right: 60px;
        width:600px;
        height: 400px;
    }
    #time
    {
        margin-right:60px;
        width:780px;
        height:450px;
        font-size: xx-large;
    }
   
    .brands h1
    {
      width:700px;
    }
    .calendarday
    {
      font-size: xx-large;
    }
    #bi
    {
        margin-right:1210px;
    }
    #submit1
    {
        margin-left: 60px;
    }
    #input
    {
        margin-left: 60px;
        width: 620px;
        height: 50px;
        font-size: xx-large;
    }
    .bookingdate button 
    {
      width:50px;
      height: 50px;
    }
    footer
{
  width:0px;
height:0px;
}
.footer-container
{
  margin-top:2200px;
  background-color: #090909;
  font-size: 25px;
  width: 2000px;
  margin-left:0px;
 height:800px;
 flex-direction: row;
}

.footer-container ul 
{
  margin-left: 30px;
}
.logo {
  height: 300px;
  width:400px;
}

.scroll,.scroll1 {
  font-size: 10px;
  padding: 10px;
  color: #ffffff;
}

.logos {
  flex-wrap: wrap;
margin-left: 90px;
margin-top: 0px;
padding-top: 0px;
}
.container1 {
  max-width: 1490px;
  margin-inline: auto;
  padding: 20px;
  overflow: hidden;
}
.brands
{
  
  width:690px;
  margin-top: 360px;
  margin-left: 680px;
}
.Services {
  text-align: center;
  margin-top: 1420px;
font-size: 78px;
margin-left: 0px;
width:200px;
margin-bottom: 0px;
}
h4
{
  margin-bottom: 20px;
}
.location
{
  margin-top: -110px;
  margin-bottom: 40px;
}
.footer-left img
{
  width:380px;
  height:410px;
  margin-left: 5px;
  margin-top: 0px;
}
#contact-img
{
  margin-top: 1130px;
  width:100px;
  height:100px;
  margin-left: 1890px;
}
.footer-para
{
  margin-top:250px;
  height: 250px;
  width:550px;
  margin-left: 30px;
  font-size: larger;
  font-weight: bold;
}
.link-column
{
  height:400px;
  width:250px;
  margin-left: 0px;
  font-size: larger;
  font-weight: bold;
}
.link-column2
{
  height: 570px;
  width:1180px;
  margin-left: 0px;
  font-size: larger;
  font-weight: bold;
}
.footer-det
{
  height: 570px;
  width:1500px;
  margin-left: 0px;
  font-size: larger;
  font-weight: bold;
}
.footer-det a
{
  margin-left: 15px;
}
.link-column li
{
  padding-bottom: 10px;
  padding-top: 10px;
}

.navlinks
{
  margin-top: 50px;
  font-size: x-large;
}
.contact-1
{
  font-size:28px;
  font-weight: bold;
}
}


/********************************************************************************************************************************/


@media (min-width:376px) and (max-width:426px)
{ .image
  {
    width:1712px;
    margin-top: 47px;
  }
 nav
 {
   width: 1702px;
   height: 150px;
 }
 .main-nav img
 {
   width: 280px;
   height:250px;
   margin-top: 80px;
 }
    #pages img
    {
      width: 60px;
      height:60px;
    }
     #pages
     {
       width: 1230px;
       margin-left:230px;
       height:110px;
       font-size: xx-large;
       margin-bottom: 0px;
       border: 1px solid rgb(15, 14, 14);
       margin-top: 5px;
     }
     h1
    {
       margin-left:200px;
       margin-top:40px;
       width:1100px;
       font-size: 58px;
       margin-bottom: 20px;
    }
    h2
    {
        margin-left: 380px;
        width:960px;
        margin-top: 50px;
        font-size: 58px;
    }
    #submit1 button
    {
      width:150px;
      height: 70px;
    }
    h3
    {
      margin-left: 750px;
      margin-top: 70px;
    }
    #submit1 a 
    {
      font-size: xx-large;
    }
    #alldt
    {
        margin-left:0.2px;   
        width: 1695px;
        margin-right: 45px;
        margin-bottom: 10px;
        height: 1350px;
    }
    #hu
    {
      width:1700px;
      font-family: rubik;
      font-size: xx-large;
    }
    .calendar-container
    {
        margin-left:60px;
        margin-right: 60px;
        width:1600px;
        height: 450px;
    }
    #time
    {
        margin-left:50px;
        width:1523px;
        height:450px;
        font-size: xx-large;
        margin-top: 50px;
    }
   
    .brands h1
    {
      width:700px;
    }
    .calendarday
    {
      font-size: xx-large;
    }
    #bi
    {
        margin-right:1210px;
    }
    #submit1
    {
        margin-left: 60px;
    }
    #input
    {
        margin-left: 90px;
        width: 1520px;
        height: 50px;
        font-size: xx-large;
    }
    .bookingdate button 
    {
      width:50px;
      height: 50px;
    }

.container1 {
  max-width: 1490px;
  margin-inline: auto;
  padding: 20px;
  overflow: hidden;
}
.brands
{
  width:690px;
  margin-top: 1000px;
  margin-left: 580px;
}
.Services {
  text-align: center;
  margin-top: 1420px;
font-size: 78px;
margin-left: 0px;
width:200px;
margin-bottom: 0px;
}
.sub-footer-collective {
  display: flex;
  flex-direction:row;
  margin-top: 5860px;
  background-color: #000000;
  width: 1660px;
  margin-left: 0px;
  height:500px;
}
.sub-footer-collective p 
{
 font-size:58px;
 margin-top: 20px;
 font-weight: bold;
}
.sub-footer
{
  margin-top: 0px;
  width:1280px;
  height: 40px;
  margin-left: 150px;
}
.sub-footer1
{
  margin-top: 0px;
  margin-bottom: 270px;
}
.socialicons
{
  margin-top: 0px;
  margin-left: 60px;
  margin-bottom: 60px;
}
.hr-footer{
  margin-top: 1050px;
  border:2px solid black;
  color:#fdfcfc;
}
footer
{
  width:0px;
height:0px;
}
.footer-container
{
  margin-top:2800px;
  background-color: #000000;
  font-size: 50px;
  width: 1660px;
  margin-left:0px;
 height:4000px;
 display: flex;
 flex-direction: column;
}
.contact-1
{
  font-size: 56px;
}
.footer-container ul 
{
  margin-left: 30px;
}
.logo {
  height: 300px;
  width:400px;
}

.scroll,.scroll1 {
  font-size: 10px;
  padding: 10px;
  color: #ffffff;
}

.logos {
  flex-wrap: wrap;
margin-left: 90px;
margin-top: 0px;
padding-top: 0px;
}
.navlinks
{
  margin-top: 50px;
  font-size: x-large;
}

.bookingdate
{
  display: flex;
  flex-direction: column;
}
h4
{
  margin-bottom: 20px;
}
.location
{
  margin-top: -260px;
  margin-bottom: 40px;
}
.footer-left img
{
  width:380px;
  height:410px;
  margin-left: 5px;
}
#contact-img
{
  margin-top: 1880px;
  width:100px;
  height:100px;
  margin-left: 1480px;
}
.footer-para
{
  margin-top:350px;
  height: 500px;
  width:1350px;
  margin-left: 0px;
  font-size: larger;
  font-weight: bold;
}
.link-column
{
  height:900px;
  width:750px;
  margin-left: 0px;
  font-size: larger;
  font-weight: bold;
}
.link-column2
{
  height: 670px;
  width:550px;
  margin-left: 0px;
  font-size: larger;
  font-weight: bold;
  margin-bottom: 70px;
}
.footer-det
{
  height: 670px;
  width:1200px;
  margin-left: 60px;
  font-size: larger;
  font-weight: bold;
}
.link-column li
{
  padding-bottom: 10px;
  padding-top: 10px;
}
}


/********************************************************************************************************************************/


@media (min-width:321px) and (max-width:376px)
{
  .image
  {
    width:1512px;
    margin-top: 47px;
  }
 nav
 {
   width: 1498px;
   height: 150px;
 }
 .main-nav img
 {
   width: 280px;
   height:250px;
   margin-top: 80px;
 }
    #pages img
    {
      width: 60px;
      height:60px;
    }
     #pages
     {
       width: 1230px;
       margin-left:130px;
       height:110px;
       font-size: xx-large;
       margin-bottom: 0px;
       border: 1px solid rgb(15, 14, 14);
       margin-top: 5px;
     }
     h1
    {
       margin-left:200px;
       margin-top:40px;
       width:1100px;
       font-size: 58px;
       margin-bottom: 20px;
    }
    h2
    {
        margin-left: 280px;
        width:960px;
        margin-top: 50px;
        font-size: 58px;
    }
    #submit1 button
    {
      width:150px;
      height: 70px;
    }
    h3
    {
      margin-left: 630px;
      margin-top: 70px;
    }
    #submit1 a 
    {
      font-size: xx-large;
    }
    #alldt
    {
        margin-left:0.2px;   
        width: 1495px;
        margin-right: 45px;
        margin-bottom: 10px;
        height: 1350px;
    }
    #hu
    {
      width:1500px;
      font-family: rubik;
      font-size: xx-large;
    }
    .calendar-container
    {
        margin-left:60px;
        margin-right: 60px;
        width:1540px;
        height: 450px;
    }
    #time
    {
        margin-left:50px;
        width:1503px;
        height:450px;
        font-size: xx-large;
        margin-top: 50px;
    }
   
    .brands h1
    {
      width:700px;
    }
    .calendarday
    {
      font-size: x-large;
    }
    #bi
    {
        margin-right:1060px;
    }
    #submit1
    {
        margin-left: 60px;
    }
    #input
    {
        margin-left: 10px;
        width: 1470px;
        height: 50px;
        font-size: xx-large;
    }
    .bookingdate button 
    {
      width:50px;
      height: 50px;
    }

.container1 {
  max-width: 1490px;
  margin-inline: auto;
  padding: 20px;
  overflow: hidden;
}
.brands
{
  width:690px;
  margin-top: 1000px;
  margin-left: 380px;
}
.Services {
  text-align: center;
  margin-top: 1420px;
font-size: 78px;
margin-left: 0px;
width:200px;
margin-bottom: 0px;
}
.sub-footer-collective {
  display: flex;
  flex-direction:row;
  margin-top: 5850px;
  background-color: #000000;
  width: 1460px;
  margin-left: 0px;
  height: 500px;
}
.sub-footer-collective p 
{
 font-size:58px;
 margin-top: 0px;
 font-weight: bold;
}
.sub-footer
{
  margin-top: 0px;
  width:1280px;
  height: 40px;
  margin-left: 0px;
}
.sub-footer1
{
  margin-top: 0px;
  margin-bottom: 270px;
}
.socialicons
{
  margin-top: 0px;
  margin-left: 60px;
  margin-bottom: 60px;
}
.hr-footer{
  margin-top: 1050px;
  border:2px solid black;
  color:#fdfcfc;
}
footer
{
  width:0px;
height:0px;
}
.footer-container
{
  margin-top:2800px;
  background-color: #000000;
  font-size: 50px;
  width: 1470px;
  margin-left:0px;
 height:4000px;
 display: flex;
 flex-direction: column;
 border:1px solid red;
}
.contact-1
{
  font-size: 56px;
}
.footer-container ul 
{
  margin-left: 30px;
}
.logo {
  height: 300px;
  width:400px;
}

.scroll,.scroll1 {
  font-size: 10px;
  padding: 10px;
  color: #ffffff;
}

.logos {
  flex-wrap: wrap;
margin-left: 90px;
margin-top: 0px;
padding-top: 0px;
}
.navlinks
{
  margin-top: 50px;
  font-size: x-large;
}

.bookingdate
{
  display: flex;
  flex-direction: column;
}
h4
{
  margin-bottom: 20px;
}
.location
{
  margin-top: -260px;
  margin-bottom: 40px;
}
.footer-left img
{
  width:380px;
  height:410px;
  margin-left: 5px;
}
#contact-img
{
  margin-top: 2280px;
  width:100px;
  height:100px;
  margin-left: 1300px;
}
.footer-para
{
  margin-top:350px;
  height: 500px;
  width:1350px;
  margin-left: 0px;
  font-size: larger;
  font-weight: bold;
}
.link-column
{
  height:1000px;
  width:750px;
  margin-left: 0px;
  font-size: larger;
  font-weight: bold;
}
.link-column2
{
  height: 770px;
  width:550px;
  margin-left: 0px;
  font-size: larger;
  font-weight: bold;
}
.footer-det
{
  height: 670px;
  width:1200px;
  margin-left: 60px;
  font-size: larger;
  font-weight: bold;
}
.link-column li
{
  padding-bottom: 10px;
  padding-top: 10px;
}

}

/********************************************************************************************************************************/


@media (max-width:320px)
{ 
  .image
  {
    width:1512px;
    margin-top: 47px;
  }
 nav
 {
   width: 1498px;
   height: 150px;
 }
 .main-nav img
 {
   width: 280px;
   height:250px;
   margin-top: 80px;
 }
    #pages img
    {
      width: 60px;
      height:60px;
    }
     #pages
     {
       width: 1230px;
       margin-left:130px;
       height:110px;
       font-size: xx-large;
       margin-bottom: 0px;
       border: 1px solid rgb(15, 14, 14);
       margin-top: 5px;
     }
     h1
    {
       margin-left:200px;
       margin-top:40px;
       width:1100px;
       font-size: 58px;
       margin-bottom: 20px;
    }
    h2
    {
        margin-left: 280px;
        width:960px;
        margin-top: 50px;
        font-size: 58px;
    }
    #submit1 button
    {
      width:150px;
      height: 70px;
    }
    h3
    {
      margin-left: 630px;
      margin-top: 70px;
    }
    #submit1 a 
    {
      font-size: xx-large;
    }
    #alldt
    {
        margin-left:0.2px;   
        width: 1495px;
        margin-right: 45px;
        margin-bottom: 10px;
        height: 1350px;
    }
    #hu
    {
      width:1500px;
      font-family: rubik;
      font-size: xx-large;
    }
    .calendar-container
    {
        margin-left:60px;
        margin-right: 60px;
        width:1540px;
        height: 450px;
    }
    #time
    {
        margin-left:50px;
        width:1503px;
        height:450px;
        font-size: xx-large;
        margin-top: 50px;
    }
   
    .brands h1
    {
      width:700px;
    }
    .calendarday
    {
      font-size: x-large;
    }
    #bi
    {
        margin-right:1060px;
    }
    #submit1
    {
        margin-left: 60px;
    }
    #input
    {
        margin-left: 10px;
        width: 1470px;
        height: 50px;
        font-size: xx-large;
    }
    .bookingdate button 
    {
      width:50px;
      height: 50px;
    }

.container1 {
  max-width: 1490px;
  margin-inline: auto;
  padding: 20px;
  overflow: hidden;
}
.brands
{
  width:690px;
  margin-top: 1000px;
  margin-left: 380px;
}
.Services {
  text-align: center;
  margin-top: 1420px;
font-size: 78px;
margin-left: 0px;
width:200px;
margin-bottom: 0px;
}
.sub-footer-collective {
  display: flex;
  flex-direction:row;
  margin-top: 5850px;
  background-color: #000000;
  width: 1460px;
  margin-left: 0px;
  height: 500px;
}
.sub-footer-collective p 
{
 font-size:58px;
 margin-top: 0px;
 font-weight: bold;
}
.sub-footer
{
  margin-top: 0px;
  width:1280px;
  height: 40px;
  margin-left: 0px;
}
.sub-footer1
{
  margin-top: 0px;
  margin-bottom: 270px;
}
.socialicons
{
  margin-top: 0px;
  margin-left: 60px;
  margin-bottom: 60px;
}
.hr-footer{
  margin-top: 1050px;
  border:2px solid black;
  color:#fdfcfc;
}
footer
{
  width:0px;
height:0px;
}
.footer-container
{
  margin-top:2800px;
  background-color: #000000;
  font-size: 50px;
  width: 1470px;
  margin-left:0px;
 height:4000px;
 display: flex;
 flex-direction: column;
 border:1px solid red;
}
.contact-1
{
  font-size: 56px;
}
.footer-container ul 
{
  margin-left: 30px;
}
.logo {
  height: 300px;
  width:400px;
}

.scroll,.scroll1 {
  font-size: 10px;
  padding: 10px;
  color: #ffffff;
}

.logos {
  flex-wrap: wrap;
margin-left: 90px;
margin-top: 0px;
padding-top: 0px;
}
.navlinks
{
  margin-top: 50px;
  font-size: x-large;
}

.bookingdate
{
  display: flex;
  flex-direction: column;
}
h4
{
  margin-bottom: 20px;
}
.location
{
  margin-top: -260px;
  margin-bottom: 40px;
}
.footer-left img
{
  width:380px;
  height:410px;
  margin-left: 5px;
}
#contact-img
{
  margin-top: 1880px;
  width:100px;
  height:100px;
  margin-left: 1100px;
}
.footer-para
{
  margin-top:350px;
  height: 500px;
  width:1350px;
  margin-left: 0px;
  font-size: larger;
  font-weight: bold;
}
.link-column
{
  height:1000px;
  width:750px;
  margin-left: 0px;
  font-size: larger;
  font-weight: bold;
}
.link-column2
{
  height: 770px;
  width:550px;
  margin-left: 0px;
  font-size: larger;
  font-weight: bold;
}
.footer-det
{
  height: 670px;
  width:1200px;
  margin-left: 60px;
  font-size: larger;
  font-weight: bold;
}
.link-column li
{
  padding-bottom: 10px;
  padding-top: 10px;
}
}


