
.dropbtn {
  background-color: #f8ffff7b;
  color: rgb(22, 17, 17);
  padding: 6px;
  font-size: 16px;
  border: none;
  margin-left: 160px;
  margin-top: -50px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #131111;
  min-width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: 160px;
}

.dropdown-content a {
  color: rgb(250, 94, 94);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #4429f3;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #0e0b0b;color:white;}

    #top,#topt,.top1,.top2,.top3
    {
        display:flex;
    }
    #all img
    {
        width: 100px;
        height:60px;
        margin-top:0px;
        padding: 20px;
    }
    #topt
    {
        justify-content: space-between;
        padding-bottom: 30px;
        margin-top: 0px;
    }
    #all a
    {
        color: rgb(245, 243, 249);
        /* font-weight: 600; */
    }
    form
    {
        margin-bottom: 60px;
    }
    .top2
    {
        margin-right: 30px;
    }
#all
{
    border: 1px solid white;
   margin-left: 160px;
    width: 1180px;
    border-radius: 5px;
    background-color: #ffffff;
}
.top1,.top3
{
    margin-left: 30px;
}
   .top1,.top2,.top3
    {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        border:1px solid rgba(98, 87, 87, 0.996);
        width:545px;
        height:240px;
        border-radius: 8px;
        background-color: rgb(12, 11, 11);
}
#d
{
    opacity: 1;
    font-weight: 500;
    color: rgb(246, 242, 242);
    margin-top:30px;
}
#all button
{
    background-color: rgb(251, 250, 254);
    color:rgb(11, 10, 10);
    height:30px;
    border-radius: 5px;
    border: 1px solid  rgb(247, 247, 250);
}
#x
{
    width:60px;
}
#y,#z
{
    width:70px;
}
.top1 p
{
    opacity:1;
    color: rgb(248, 243, 243);
}
.top2 p
{
    opacity:1;
    color: rgb(251, 249, 249);
}
.top3 p
{
    opacity:1;
    color: rgb(250, 240, 240);
}
#lo
{
    opacity:1;
    font-size: 24px;
    color:rgb(247, 241, 241);
}
#amount
{
    margin-top: 40px;
    margin-top: 0px;
}
#hu
{
    background-color: rgb(7, 7, 7);
    position: absolute;
    left:0px;
    right:0px;
    width:1520px;
    margin-top: 200px;
}
 
.navlinks a{
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav {
  background-color: rgb(9, 9, 9);
  position: absolute;
  left: 0px;
  right: 0px;
  top:0px;
  height:100px;
  width:1520px;
}
.main-nav {
  justify-content: space-between;
  position:relative;
  left: 20px;
  right: 20px;
  height: 60px;
  padding-top: 10px;
}
.flex {
  display: flex;
  align-items: center;
}

.company-logo {
  width: 100px;
  height:90px;
  margin-top: 20px;
}

.navlinks {
  z-index: 4;
}
.navlinks ul {
  justify-content: end;
  gap: 70px;
  margin-right: 40px;
  list-style: none;
  position: relative;
}

.navlink-options ul {
  list-style: none;
}
.hover-links {
  color: white;
}
.nav-toggle {
  display: none;
} 
.image {
  position: absolute;
  width:1532px;
  height: 200px; 
  background-image: url("/refund.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden; 
  margin-left:-20px;
  top: 100px;
}
 h2{
  font-size: 50px;
  text-align: center;
  color: #ffffff;
  font-family:Rubik;
  margin-top: 70px;
}
h1
{
   text-align: center;
    color:white;
    margin-top: 0px;
}

#pages
{   
    width: 1180px;
    margin-left: 160px;
    margin-bottom: 40px;
    background-color: white;
    display:flex;
    gap:50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#pages a 
{
    text-decoration:none;
    color:black;
    opacity:0.6;
}
#pages img 
{
    width:30px;
    height:30px;
    vertical-align:middle;
}
#pages 
{
    /* border:1px solid rgba(198, 196, 196, 0.777); */
    border-radius: 5px;
}
#g,#h,#i,#j
{
    width: 20px;
    height: 20px;
    padding-top:20px;
    padding-right:10px;
    padding-left:20px;
    padding-bottom:20px;
}
#r,#s,#t,#q a
{
    font-weight:700;
}
#q,#r,#s,#t
{
    margin-top: 5px;
}
#hover
{
box-shadow:0px 3px 5px rgba(0,0,0,0.6);
}
#submit1
{
margin-left:45px;
margin-top:40px;
margin-bottom:50px;
display:flex;
}
#submit1 button 
{
    height:45px;
    width:100px;
    background-color:rgb(13, 12, 12);
    border-radius:10px;
}
#submit1 a
{
    color:rgb(247, 247, 248);
    text-decoration:none;
    font-size:17px;
}
#bi
{
    margin-right: 900px;
}
.footer-left
{
  margin-top: 15px;

  width:700px;
}
footer {
background-color: #050505fb;
padding-block: 60px;
top:1600px;
height:500px;
left:0px;
right:0px;
bottom:0px;
position: absolute;
font-family: Rubik;

}
.ving
{
  width:300px;

}

.footer-container a{
text-decoration: none;
display: inline-block;
}
.container {
position: absolute;
width: 1285px;
margin-inline: auto;
padding: 20px;
overflow: hidden;
margin-left: 120px;

}

.footer-container {
display: flex;
align-items: center;
}
.footer-container {
align-items: flex-start;
gap: 130px;
}

.company-logo img {
width: 120px;
height:110px;
margin-bottom:20px;
}

.footer-companylog img{
margin-left: -15px;
}
.footer-para {
color: rgb(252, 247, 247);
margin-top: 30px;
margin-left: 0px;
}
.socialicons {
margin-top: 40px;
display: flex;
gap: 10px;
}

.link-column {
flex-direction: column;
align-items: flex-start;
margin-top: 40px;
}

.link-column2 {
width: 670px;
} 
.footer-heading {
color: white;
}

.foot-links {
margin-left: 20px;
margin-top: 0px;
}
.link {
color: white;
margin-top: 20px;


}

.contact-1 a 
{
  margin-left: 0px;
}
.fas {
margin-top: 20px;
}

.location{
margin-top: -10px;
padding-right: 15px;
}
 


.sub-footer-collective {
display: flex;
background-color: #000000;
width:1480px;
margin-top: 580px;
margin-left: 0px;
}
.sub-footer-collective p
{
margin-top:3px;
}
.sub-footer {
color: white;
margin-top: 0px;
}
.sub-footer1
{
  margin-left: 120px;
}
.sub-footer2
{
  margin-left: 600px;
}
.footer-det
{
  width:800px;
  
}
.copyright {
font-size: medium;
}
.contact
{
margin-top: 20px;
}
#contact-img{
width: 40px;
height: 40px;
position: fixed;
top:660px;
margin-left: 1400px;
scroll-behavior: auto;
border-radius: 5px;
}

.div1
{
    cursor:pointer;
}
.add{
background-color: rgb(49, 12, 236);
}
.Services {
margin-left: 0px;
  margin-top: 1240px;

  color:#000000;
}
.brands h1
{
  color:#000000;
}
 .scroll
{
  margin-left: 25px;
  font-size: 30px;
  padding: 20px;
  margin-right: 50px;
  margin-top: 30px;
} 
.scroll1
{
  font-size: 30px;
  padding: 20px;
  margin-right: 15px; 
  margin-left: 25px;
  margin-top: 30px;
}
.flex {
  display: flex;
  align-items: center;
}
.logo{
  height: 100px;
  margin-right: 25px;
  margin-top: 10px;
}
.logos {
  flex-wrap: wrap;
}
#all h4
{
    margin-left: 30px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.link-column .footer-heading
{
  margin-left: 40px;
}
.footer-det .footer-heading
{
  margin-left: 0px;
}
.footer-heading
{
  margin-bottom: 0px;
}
.link-column9
{
  margin-top: 13px;
}
/************************************************************************************************************************/

@media screen and (min-width:769px) and (max-width:1025px)
{
    footer
{
  width:0px;
height:0px;
}
.footer-container
{
  margin-top:1900px;
  background-color: #090909;
  font-size: 25px;
  width: 1500px;
  margin-left:0px;
 height:800px;
 flex-direction: row;
}
.footer-left
{
    margin-right: 0px;
}
.footer-container ul 
{
  margin-left: 0px;
}
.logo {
  height: 300px;
  width:400px;
}
.foot-links
{
    margin-left: 0px;
}
.scroll,.scroll1 {
  font-size: 0px;
  padding:30px;
  color: #ffffff;
}

.logos {
  flex-wrap: wrap;
margin-left: 90px;
margin-top: 20px;
padding-top: 0px;
display: flex;
flex-direction: column;
}
.container1 {
  max-width: 1490px;
  margin-inline: auto;
  padding: 20px;
  overflow: hidden;
}
.main-nav img 
{
  width: 200px;
  height: 150px;
}
.brands
{
  
  width:750px;
  margin-top: 0px;
  margin-left: 350px;
}
.Services {
  text-align: center;
  margin-top: 1280px;
font-size: 78px;
margin-left: 0px;
width:800px;
margin-bottom: 0px;

}
h4
{
  margin-bottom: 20px;
}
.location
{
  margin-top: -80px;
  margin-bottom: 40px;
}
.footer-left img
{
  width:270px;
  height:360px;
  margin-left:0px;
  margin-top: 0px;
}
#contact-img
{
  margin-top: -150px;
  width:190px;
  height:200px;
  margin-left: 1340px;
}
.link
{
  padding-top: 0px;
}

.footer-para
{
  margin-top:250px;
  height: 250px;
  width:320px;
  margin-left: 30px;
  font-size: x-large;
 }
.link-column
{
  height:400px;
  margin-left: 0px;
  font-size:x-large;

  margin-top: 80px;
}
.link-column2
{
  height: 570px;
  margin-left: 0px;
  width: 1500px;
 
}
.footer-det
{
  height: 570px;
  width:400px;
  margin-left: 0px;
  font-size:x-large;
  
margin-top: 80px;
}
.footer-det a
{
  margin-left: 15px;
}
.link-column li
{
  padding-bottom: 10px;
  padding-top: 10px;
}

.navlinks
{
  margin-top: 0px;
  font-size: x-large;
}
.link-column .footer-heading
{
  margin-left: 10px;
}
.footer-det .footer-heading
{
  margin-left: 0px;
}
    .sub-footer-collective 
    {
     margin-top: 2750px;
     background-color: #000000;
     width: 1500px;
     margin-left: 0px;
     height:80px;
   }
   .sub-footer-collective p 
   {
    font-size:20px;
    margin-top: 25px;

    margin-bottom: 10px;
   }
   .sub-footer1
   {
   
     margin-left:30px ;
    
   }
   .sub-footer2
   {
    
     margin-left:580px ;
     
   } 
   .socialicons
   {
     margin-top: 20px;
     margin-left: 30px;
     margin-bottom: 60px;
   }
   nav,#hu
   {
width:1540px;
   }
   .image
   {
    width:1552px;
   }
   .main-nav
   {
  left: 0px;
   }
   #pages
    {
        font-size: x-large;
    }
}


/********************************************************************************************************************************/



@media (min-width:120px) and (max-width:990px) {
  .header-companylog{
    width: 100px;
  }
  }
  
  
  @media screen and (max-width: 426px) {
    .nav-toggle{
        display: inline-block;
        margin-right: 20px;
        width:100px;
        height: 60px;
        margin-top: 140px;
    }
  .fa-solid
  {
    font-size: x-large;
  }
  
     .navlinks{
        position: absolute;
        background-color: rgb(0, 0, 0);
        left: -110%;
        top: 100%;
        width: 100%;
        padding-block: 20px;
        transition: 0.4s ease-in-out;
        margin-top: 140px;
    }
    
  
    .navlinks.active{
        left: 0;
       
    }
  
    .navlinks ul {
        flex-direction: column;
       font-size: 30px;
    }
  
    
  } 
    /********************************************************************************************************************************/
    
    @media screen and (min-width:500px) and (max-width:769px)
{
    footer
{
  width:0px;
height:0px;
}
.footer-container
{
  margin-top:1900px;
  background-color: #090909;
  font-size: 25px;
  width: 1500px;
  margin-left:0px;
 height:800px;
 flex-direction: row;
}
.footer-left
{
    margin-right: 0px;
}
.footer-container ul 
{
  margin-left: 0px;
}
.logo {
  height: 300px;
  width:400px;
}
.foot-links
{
    margin-left: 0px;
}
.scroll,.scroll1 {
  font-size: 0px;
  padding:30px;
  color: #ffffff;
}

.logos {
  flex-wrap: wrap;
margin-left: 90px;
margin-top: 20px;
padding-top: 0px;
display: flex;
flex-direction: column;
}
.container1 {
  max-width: 1490px;
  margin-inline: auto;
  padding: 20px;
  overflow: hidden;
}

.brands
{
  
  width:750px;
  margin-top: 0px;
  margin-left: 350px;
}
.Services {
  text-align: center;
  margin-top: 1280px;
font-size: 78px;
margin-left: 0px;
width:800px;
margin-bottom: 0px;

}
h4
{
  margin-bottom: 20px;
}
.location
{
  margin-top: -120px;

  margin-left: 3px;
  
}

.footer-left img
{
  width:270px;
  height:360px;
  margin-left: px;
  margin-top: 0px;
}
#contact-img
{
  margin-top: 60px;
  width:200px;
  height:200px;
  margin-left: 1330px;
}
.footer-left
{
  height: 1000px;
width: 300px;

}
.link-column .footer-heading
{
margin-left: 20px;
}
.footer-para
{
  margin-top:250px;
  height: 200px;
  width:350px;
  margin-left: 0px;
  font-size: x-large;
  
 }
.link-column
{
  height:400px;
  margin-left: 0px;
  font-size:x-large;
margin-top: 100px;
  
}
.link-column2
{
  height: 570px;
  margin-left: 0px;
  width: 400px;

}
.footer-det
{
  height: 570px;
  width:400px;
  margin-left: 0px;
  font-size:x-large;
  

}
.footer-det a
{
  margin-left: 15px;
}
.link-column li
{
  padding-bottom: 10px;
  padding-top: 10px;
}

.navlinks
{
  margin-top: 0px;
  font-size: x-large;
}
.main-nav img 
{
  width:250px;
  height: 220px;
}

    .sub-footer-collective 
    {
     margin-top: 2760px;
     background-color: #000000;
     width: 1500px;
     margin-left: 0px;
     height:180px;
   }
   .sub-footer-collective p 
   {
    font-size:20px;
    margin-top: 70px;

    margin-bottom: 10px;
   }
   .sub-footer1
   {
   
     margin-left:30px ;
    
   }
   .sub-footer2
   {
    
     margin-left:580px ;
     
   } 
   
   .socialicons
   {
 
     margin-left: 10px;
  margin-top: 100px;

   }
   nav,#hu
   {
width:1540px;
   }
   .image
   {
    width:1552px;
   }
   .main-nav
   {
  left: 0px;
   }
   #pages
    {
        font-size: x-large;
    }
}

/************************************************************************************************************************/

@media screen and (min-width:426px) and (max-width:500px)
{
  h2
  {
      margin-left: 680px;
      width:400px;
      margin-top: 150px;
      font-size: 78px;
  }
  .image
{
  width:1712px;
  margin-top: 117px;
  height: 600px;
}
  #hu
  {
      width:1700px;
margin-top: 735px;
  }
  #topt
  {
      display: flex;
      flex-direction: column;
      margin-bottom: 0px;
  }
  #all
  {
      width:1700px;
      margin-left: 0px;
  }
  #hu h4
  {
      font-size: 50px;
      margin-left: 700px;
      margin-bottom: 70px;
  }
  nav
  {
    width: 1700px;
    height: 200px;
  }
  #pages img
  {
    width: 60px;
    height:60px;
  }
  .main-nav img 
  {
    width:280px;
    height: 300px;
margin-top: 120px;
margin-left: 120px;
  }
  #lo
  {
      font-size: 58px;
  }
#all img
{
  margin-top: 20px;
  width:140px;
  height:140px;
}
#all button 
{
  width: 200px;
  height: 60px;
}
#amount
{
  height: 100px;
}
#x,#y,#z
{
  margin-right: 40px;
  margin-top: 0px;
  font-size: 34px;
  font-weight: 500;
  margin-left: 10px;
}
.b1
{
  width:800px;
  height: 650px;
  line-height: 80px;
  font-size: 56px;
}
.b2
{
  width:800px;
  height: 1100px;
  line-height: 80px;
  font-size: 56px;
}
.b3
{
  width:800px;
  height: 1600px;
  line-height: 80px;
  font-size: 56px;
}
.dropdown
{
  margin-left: 250px;
  margin-top: -70px;
}
.dropbtn
{
  font-size: x-large;
  font-weight: 500;
}
.main-nav
{

 left: 0px;
}
#submit1 button 
{
  width:200px;
  height:100px;
}
#submit1 a 
{
  font-size: xx-large;
}
#bi
{
  margin-right: 1200px;
  margin-left: 10px;
}
#hu p
{
line-height: 80px;
}
  .top1,.top2,.top3
  {
      margin-left: 70px;
      width:1560px;
      height:600px;
      margin-bottom: 60px;
      border-radius: 30px;
      font-size:50px;
  }
   #pages
   {
     width: 1400px;
     margin-left:150px;
     height:110px;
     font-size: xx-large;
     margin-bottom: 100px;
     border: 1px solid rgb(15, 14, 14);
     margin-top: 50px;
   }
  footer
{
width:0px;
height:0px;
}
.ving 
{
  width:400px;
}
.footer-container
{
margin-top:4580px;
background-color: #090909;
font-size: 25px;
width: 1660px;
margin-left:0px;
height:4250px;
flex-direction: column;
}
.footer-left
{
  margin-right: 0px;

}
.footer-container ul 
{
margin-left: 0px;
}
.logo {
height: 350px;
width:400px;
padding: 20px;
}
.foot-links
{
  margin-left: 0px;
}
.scroll,.scroll1 {
font-size: 0px;
padding:0px;
color: #ffffff;
}

.logos {
flex-wrap: wrap;
margin-left: 90px;
margin-top: 30px;
padding-top: 0px;
display: flex;
flex-direction: column;
}
.container1 {
max-width: 1490px;
margin-inline: auto;
padding: 20px;
overflow: hidden;
}
.brands
{

width:750px;
margin-top: 3680px;
margin-left: 440px;
}
.Services {
text-align: center;
margin-top: 0px;
font-size: 78px;
margin-left: 0px;
width:800px;
margin-bottom: 0px;
}
h4
{
margin-bottom: 20px;
}
.location
{
margin-top: -90px;
margin-bottom: 40px;

}
.footer-left img
{
width:380px;
height:410px;
margin-left: 5px;
margin-top: 0px;
}
#contact-img
{
margin-top: 440px;
width:400px;
height:400px;
margin-left: 1290px;
}
.footer-para
{
margin-top:300px;
height: 200px;
width:1250px;
margin-left: 30px;
font-size: 70px;


}
.link-column
{

margin-left: 40px;
font-size:70px;
}
.link-column2
{
  width: 900px;
}
.footer-det
{
height: 570px;
width:1160px;
margin-left: 40px;
}
.link-column .footer-heading
{
  margin-left: 0px;
}
.footer-det a
{
margin-left: 15px;
}
.link-column li
{
padding-bottom: 10px;
padding-top: 10px;
}

.navlinks
{
margin-top: 100px;
font-size:45px;
}

  .sub-footer-collective 
  {
   margin-top: 8900px;
   background-color: #000000;
   width: 1660px;
   margin-left: 0px;
   height:420px;
   display: flex;
   flex-direction: column;
 }
 .sub-footer-collective p 
 {
  font-size:50px;
  margin-top: 50px;
 
  margin-bottom: 10px;
 }

 .sub-footer2
 {
margin-left: 500px;
margin-top: 40px;
width: 800px;
 }
 .sub-footer1
 {
   margin-top: 30px;
   margin-left:110px ;
   width: 1600px;
 } 
 .socialicons svg 
 {
  height: 50px;
 }
 .socialicons
 {
  margin-top: 380px;

   margin-left: 40px;
   margin-bottom: 60px;
   
 }
 .top1 button 
 {
   font-size: 34px;
 }
 .top2 button 
 {
   font-size: 34px;
 }
 .top3 button 
 {
   font-size: 34px;
 }
 
}



/************************************************************************************************************************/

@media screen and (min-width:377px) and (max-width:426px)
{
  h2
  {
      margin-left: 580px;
      width:400px;
      margin-top: 150px;
      font-size: 78px;
  }
  .image
{
  width:1522px;
  margin-top: 117px;
  height: 600px;
}
  #hu
  {
      width:1510px;
margin-top: 735px;
  }
  #topt
  {
      display: flex;
      flex-direction: column;
      margin-bottom: 0px;
  }
  #all
  {
      width:1510px;
      margin-left: 0px;
  }
  #hu h4
  {
      font-size: 50px;
      margin-left: 600px;
      margin-bottom: 70px;
  }
  nav
  {
    width: 1510px;
    height: 200px;
  }
  #pages img
  {
    width: 60px;
    height:60px;
  }
  .main-nav img 
  {
    width:280px;
    height: 300px;
margin-top: 120px;
margin-left: 120px;
  }
  #lo
  {
      font-size: 58px;
  }
#all img
{
  margin-top: 20px;
  width:140px;
  height:140px;
}
#all button 
{
  width: 200px;
  height: 60px;
}
#amount
{
  height: 100px;
}
.top1 button 
{
  font-size: 34px;
}
.top2 button 
{
  font-size: 34px;
}
.top3 button 
{
  font-size: 34px;
}

#x,#y,#z
{
  margin-right: 40px;
  margin-top: 0px;
  font-size: 34;
  font-weight: 500;
  margin-left: 10px;
}
.b1
{
  width:800px;
  height: 650px;
  line-height: 80px;
  font-size: 56px;
}
.b2
{
  width:800px;
  height: 1100px;
  line-height: 80px;
  font-size: 56px;
}
.b3
{
  width:800px;
  height: 1600px;
  line-height: 80px;
  font-size: 56px;
}
.dropdown
{
  margin-left: 250px;
  margin-top: -70px;
}
.dropbtn
{
  font-size: x-large;
  font-weight: 500;
}
.main-nav
{

 left: 0px;
}
#submit1 button 
{
  width:200px;
  height:100px;
}

#submit1 a 
{
  font-size: 40px;
}
#bi
{
  margin-right: 970px;
  margin-left: 30px;
}
#hu p
{
line-height: 80px;
}
  .top1,.top2,.top3
  {
      margin-left: 70px;
      width:1370px;
      height:600px;
      margin-bottom: 60px;
      border-radius: 30px;
      font-size:50px;
  }
   #pages
   {
     width: 1210px;
     margin-left:150px;
     height:110px;
     font-size: xx-large;
     margin-bottom: 100px;
     border: 1px solid rgb(15, 14, 14);
     margin-top: 50px;
   }
  footer
{
width:0px;
height:0px;
}
.ving 
{
  width:400px;
}
.footer-container
{
margin-top:4880px;
background-color: #090909;
font-size: 25px;
width: 1470px;
margin-left:0px;
height:4350px;
flex-direction: column;
}
.footer-left
{
  margin-right: 0px;
}
.footer-container ul 
{
margin-left: 0px;
}
.logo {
height: 350px;
width:400px;
padding: 20px;
}
.foot-links
{
  margin-left: 0px;
}
.scroll,.scroll1 {
font-size: 0px;
padding:0px;
color: #ffffff;
}

.logos {
flex-wrap: wrap;
margin-left: 90px;
margin-top: 30px;
padding-top: 0px;
display: flex;
flex-direction: column;
}
.container1 {
max-width: 1490px;
margin-inline: auto;
padding: 20px;
overflow: hidden;
}
.brands
{

width:750px;
margin-top: 3660px;
margin-left: 360px;
}
.Services {
text-align: center;
margin-top: 0px;
font-size: 78px;
margin-left: 0px;
width:800px;
margin-bottom: 0px;
}
h4
{
margin-bottom: 20px;
}
.location
{
margin-top: -90px;
margin-bottom: 40px;

}
.footer-left img
{
width:380px;
height:410px;
margin-left: 5px;
margin-top: 0px;
}
#contact-img
{
margin-top: 610px;
width:300px;
height:300px;
margin-left: 1180px;
}
.footer-para
{
margin-top:300px;
height: 200px;
width:1250px;
margin-left: 30px;
font-size: 70px;


}
.link-column
{

margin-left: 40px;
font-size:70px;
}
.link-column2
{
  width: 900px;
}
.footer-det
{
height: 570px;
width:1160px;
margin-left: 40px;
}
.link-column .footer-heading
{
  margin-left: 0px;
}
.footer-det a
{
margin-left: 15px;
}
.link-column li
{
padding-bottom: 10px;
padding-top: 10px;
}

.navlinks
{
margin-top: 100px;
font-size:45px;
}

  .sub-footer-collective 
  {
   margin-top: 9300px;
   background-color: #000000;
   width: 1470px;
   margin-left: 0px;
   height:420px;
   display: flex;
   flex-direction: column;
 }
 .sub-footer-collective p 
 {
  font-size:50px;
  margin-top: 50px;
 
  margin-bottom: 10px;
 }

 .sub-footer2
 {
margin-left: 400px;
margin-top: 40px;
width: 800px;
 }
 .sub-footer1
 {
   margin-top: 30px;
   margin-left:30px ;
   width: 1600px;
 } 
 .socialicons
 {
   margin-top: 420px;
   margin-left: 40px;

 }
}



/************************************************************************************************************************/

@media screen and (min-width:321px) and (max-width:376px)
{
  h2
  {
      margin-left: 480px;
      width:400px;
      margin-top: 150px;
      font-size: 78px;
  }
  .image
{
  width:1295px;
  margin-top: 117px;
  height: 600px;
}
  #hu
  {
      width:1285px;
margin-top: 735px;
  }
  #topt
  {
      display: flex;
      flex-direction: column;
      margin-bottom: 0px;
  }
  #all
  {
      width:1283px;
      margin-left: 0px;
  }
  #hu h4
  {
      font-size: 50px;
      margin-left: 500px;
      margin-bottom: 70px;
  }
 
  nav
  {
    width: 1283px;
    height: 200px;
  }
  #pages img
  {
    width: 60px;
    height:60px;
  }
  .main-nav img 
  {
    width:280px;
    height: 300px;
margin-top: 120px;
margin-left: 120px;
  }
  #lo
  {
      font-size: 58px;
  }
#all img
{
  margin-top: 20px;
  width:140px;
  height:140px;
}
#all button 
{
  width: 200px;
  height: 60px;
}
#amount
{
  height: 100px;
}
.top1 button 
{
  font-size: 34px;
}
.top2 button 
{
  font-size: 34px;
}
.top3 button 
{
  font-size: 34px;
}

#x,#y,#z
{
  margin-right: 40px;
  margin-top: 0px;
  font-size: 34;
  font-weight: 500;
  margin-left: 10px;
}
.b1
{
  width:800px;
  height: 650px;
  line-height: 80px;
  font-size: 56px;
}
.b2
{
  width:800px;
  height: 1100px;
  line-height: 80px;
  font-size: 56px;
}
.b3
{
  width:800px;
  height: 1600px;
  line-height: 80px;
  font-size: 56px;
}
.dropdown
{
  margin-left: 250px;
  margin-top: -70px;
}
.dropbtn
{
  font-size: x-large;
  font-weight: 500;
}
.main-nav
{

 left: 0px;
}
#submit1 button 
{
  width:200px;
  height:100px;
}

#submit1 a 
{
  font-size: 40px;
}
#bi
{
  margin-right: 750px;
  margin-left: 20px;
}
#hu p
{
line-height: 80px;
}
  .top1,.top2,.top3
  {
      margin-left: 55px;
      width:1170px;
      height:600px;
      margin-bottom: 60px;
      border-radius: 30px;
      font-size:50px;
  }
   #pages
   {
     width: 1210px;
     margin-left:36px;
     height:110px;
     font-size: xx-large;
     margin-bottom: 100px;
     border: 1px solid rgb(15, 14, 14);
     margin-top: 50px;
   }
  footer
{
width:0px;
height:0px;
}
.ving 
{
  width:400px;
}
.footer-container
{
margin-top:4580px;
background-color: #090909;
font-size: 25px;
width: 1245px;
margin-left:0px;
height:4350px;
flex-direction: column;
}
.footer-left
{
  margin-right: 0px;
}
.footer-container ul 
{
margin-left: 0px;
}
.logo {
height: 350px;
width:400px;
padding: 20px;
}
.foot-links
{
  margin-left: 0px;
}
.scroll,.scroll1 {
font-size: 0px;
padding:0px;
color: #ffffff;
}

.logos {
flex-wrap: wrap;
margin-left: 90px;
margin-top: 30px;
padding-top: 0px;
display: flex;
flex-direction: column;
}
.container1 {
max-width: 1490px;
margin-inline: auto;
padding: 20px;
overflow: hidden;
}
.brands
{

width:750px;
margin-top: 3660px;
margin-left: 260px;
}
.Services {
text-align: center;
margin-top: 0px;
font-size: 78px;
margin-left: 0px;
width:800px;
margin-bottom: 0px;
}
h4
{
margin-bottom: 20px;
}
.location
{
margin-top: -90px;
margin-bottom: 40px;

}
.footer-left img
{
width:380px;
height:410px;
margin-left: 5px;
margin-top: 0px;
}
#contact-img
{
margin-top: 580px;
width:250px;
height:250px;
margin-left: 1020px;
}
.footer-para
{
margin-top:300px;
height: 200px;
width:1250px;
margin-left: 30px;
font-size: 70px;


}
.link-column
{

margin-left: 40px;
font-size:70px;
}
.link-column2
{
  width: 900px;
}
.footer-det
{
height: 570px;
width:1160px;
margin-left: 40px;
}
.link-column .footer-heading
{
  margin-left: 0px;
}
.footer-det a
{
margin-left: 15px;
}
.link-column li
{
padding-bottom: 10px;
padding-top: 10px;
}

.navlinks
{
margin-top: 100px;
font-size:45px;
}

  .sub-footer-collective 
  {
   margin-top: 9000px;
   background-color: #000000;
   width: 1245px;
   margin-left: 0px;
   height:420px;
   display: flex;
   flex-direction: column;
 }
 .sub-footer-collective p 
 {
  font-size:40px;
  margin-top: 50px;
 
  margin-bottom: 10px;
 }

 .sub-footer2
 {
margin-left: 400px;
margin-top: 40px;
width: 800px;
 }
 .sub-footer1
 {
   margin-top: 50px;
   margin-left:45px ;
   width: 1600px;
 } 
 .socialicons
 {
   margin-top: 370px;
   margin-left: 30px;

 }
}



/************************************************************************************************************************/

@media screen and (max-width:320px) 
{
  h2
  {
      margin-left: 480px;
      width:400px;
      margin-top: 150px;
      font-size: 78px;
  }
  .image
{
  width:1295px;
  margin-top: 117px;
  height: 600px;
}
  #hu
  {
      width:1285px;
margin-top: 735px;
  }
  #topt
  {
      display: flex;
      flex-direction: column;
      margin-bottom: 0px;
  }
  #all
  {
      width:1283px;
      margin-left: 0px;
  }
  #hu h4
  {
      font-size: 50px;
      margin-left: 500px;
      margin-bottom: 70px;
  }
 
  nav
  {
    width: 1283px;
    height: 200px;
  }
  #pages img
  {
    width: 60px;
    height:60px;
  }
  .main-nav img 
  {
    width:280px;
    height: 300px;
margin-top: 120px;
margin-left: 120px;
  }
  #lo
  {
      font-size: 58px;
  }
#all img
{
  margin-top: 20px;
  width:140px;
  height:140px;
}
#all button 
{
  width: 200px;
  height: 60px;
}
#amount
{
  height: 100px;
}
.top1 button 
{
  font-size: 34px;
}
.top2 button 
{
  font-size: 34px;
}
.top3 button 
{
  font-size: 34px;
}

#x,#y,#z
{
  margin-right: 40px;
  margin-top: 0px;
  font-size: 34;
  font-weight: 500;
  margin-left: 10px;
}
.b1
{
  width:800px;
  height: 650px;
  line-height: 80px;
  font-size: 56px;
}
.b2
{
  width:800px;
  height: 1100px;
  line-height: 80px;
  font-size: 56px;
}
.b3
{
  width:800px;
  height: 1600px;
  line-height: 80px;
  font-size: 56px;
}
.dropdown
{
  margin-left: 250px;
  margin-top: -70px;
}
.dropbtn
{
  font-size: x-large;
  font-weight: 500;
}
.main-nav
{

 left: 0px;
}
#submit1 button 
{
  width:200px;
  height:100px;
}

#submit1 a 
{
  font-size: 40px;
}
#bi
{
  margin-right: 750px;
  margin-left: 20px;
}
#hu p
{
line-height: 80px;
}
  .top1,.top2,.top3
  {
      margin-left: 55px;
      width:1170px;
      height:600px;
      margin-bottom: 60px;
      border-radius: 30px;
      font-size:50px;
  }
   #pages
   {
     width: 1210px;
     margin-left:36px;
     height:110px;
     font-size: xx-large;
     margin-bottom: 100px;
     border: 1px solid rgb(15, 14, 14);
     margin-top: 50px;
   }
  footer
{
width:0px;
height:0px;
}
.ving 
{
  width:400px;
}
.footer-container
{
margin-top:4580px;
background-color: #090909;
font-size: 25px;
width: 1245px;
margin-left:0px;
height:4350px;
flex-direction: column;
}
.footer-left
{
  margin-right: 0px;
}
.footer-container ul 
{
margin-left: 0px;
}
.logo {
height: 350px;
width:400px;
padding: 20px;
}
.foot-links
{
  margin-left: 0px;
}
.scroll,.scroll1 {
font-size: 0px;
padding:0px;
color: #ffffff;
}

.logos {
flex-wrap: wrap;
margin-left: 90px;
margin-top: 30px;
padding-top: 0px;
display: flex;
flex-direction: column;
}
.container1 {
max-width: 1490px;
margin-inline: auto;
padding: 20px;
overflow: hidden;
}
.brands
{

width:750px;
margin-top: 3660px;
margin-left: 260px;
}
.Services {
text-align: center;
margin-top: 0px;
font-size: 78px;
margin-left: 0px;
width:800px;
margin-bottom: 0px;
}
h4
{
margin-bottom: 20px;
}
.location
{
margin-top: -90px;
margin-bottom: 40px;

}
.footer-left img
{
width:380px;
height:410px;
margin-left: 5px;
margin-top: 0px;
}
#contact-img
{
margin-top: 910px;
width:250px;
height:250px;
margin-left: 980px;
}
.footer-para
{
margin-top:300px;
height: 200px;
width:1250px;
margin-left: 30px;
font-size: 70px;


}
.link-column
{

margin-left: 40px;
font-size:70px;
}
.link-column2
{
  width: 900px;
}
.footer-det
{
height: 570px;
width:1160px;
margin-left: 40px;
}
.link-column .footer-heading
{
  margin-left: 0px;
}
.footer-det a
{
margin-left: 15px;
}
.link-column li
{
padding-bottom: 10px;
padding-top: 10px;
}

.navlinks
{
margin-top: 100px;
font-size:45px;
}

  .sub-footer-collective 
  {
   margin-top:9000px;
   background-color: #000000;
   width: 1245px;
   margin-left: 0px;
   height:420px;
   display: flex;
   flex-direction: column;
 }
 .sub-footer-collective p 
 {
  font-size:40px;
  margin-top: 50px;
 
  margin-bottom: 10px;
 }

 .sub-footer2
 {
margin-left: 400px;
margin-top: 40px;
width: 800px;
 }
 .sub-footer1
 {
   margin-top: 50px;
   margin-left:45px ;
   width: 1600px;
 } 
 .socialicons
 {
   margin-top: 370px;
   margin-left: 30px;

 }
}